<table bgcolor="#f4f4f4" class="m_-5819072269766076676body" style="box-sizing:border-box;border-spacing:0;width:100%; background-color: #FFF; border-collapse:separate!important"
    width="100%">
    <tbody>
        <tr>
            <td class="m_-5819072269766076676container" style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;display:block;width:600px;max-width:600px;margin:0 auto!important"
                valign="top" width="600">
                <div class="m_-5819072269766076676content" style="box-sizing:border-box;display:block;max-width:600px;margin:0 auto;padding:10px">
                    <div class="m_-5819072269766076676header" style="box-sizing:border-box;width:100%;margin-bottom:30px;margin-top:15px">
                        <table style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important" width="100%">
                            <tbody>
                                <tr>
                                    <td align="left" class="m_-5819072269766076676align-left" style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;text-align:left"
                                        valign="top"><span class="m_-5819072269766076676sg-image"><a href="http://www.tecnm.mx/" style="box-sizing:border-box;color:#000000;font-weight:400;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=es&amp;q=http://www.tecnm.mx/"><img alt="Tecnólogico Nacional de México" src="https://i.imgur.com/wFRknD6.png" style="border-style:none;height:70px" height="70"  class="CToWUd"></a></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 
                        Body
                    -->
                    <div class="m_-5819072269766076676block" style="box-sizing:border-box;width:120%;margin-bottom:30px;background:#1B396A;border:0px solid #fff"> 
                        <table style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important" width="100%">
                            <tbody>
                                <tr>
                                    <td class="m_-5819072269766076676wrapper" style="box-sizing:border-box;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top;padding:30px"
                                        valign="top">
                                        <table style="box-sizing:border-box;width:100%;border-spacing:0;border-collapse:separate!important" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top"
                                                        valign="top">
                                                        <!-- Title -->
                                                        <h1 style="text-align: center;color:#fff;margin:0px;">Bienvenido(a) al</h1>
                                                        <h1 style="text-align: center;color:#fff;margin:0px;">Tecnológico Nacional de México</h1>
                                                        <h1 style="text-align: center;color:#fff;margin:0px;">campus Tepic</h1>
                                                        <!-- Línea -->
                                                        <hr style="border-top: 1px solid #fff">
                                                        <!-- Subtítulo -->
                                                        <h2 style="color:#fff!important; text-align:center;margin:0;margin-bottom:30px;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;line-height:1.5;font-size:24px;"><strong>Felicidades por ser alumno de la Institución educativa de nivel superior más grande de latinoamérica.</h2>
                                                        
                                                        <!-- Párrafo -->
                                                        <p style="text-align:center;margin:0;margin-bottom:30px;color:#fff;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300">A continuación se listan los documentos que deberás entregar el día que te corresponde de acuerdo con el calendario publicado en <a style="color:white;text-decoration:underline white;" href="https://docs.google.com/spreadsheets/d/1Llc-njRhZsVdAKSugGUC904B1skvki9oMjleJ6tkyKM/edit#gid=0" target="_blank">Calendario</a>
                                                        <p style="text-align:center;margin:0;margin-bottom:30px;color:#fff;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;font-weight:300">Acude el día y hora correspondientes con la siguiente documentación.
                                                    </td>
                                                </tr>

                                                <!-- Instrucciones -->
                                                <tr style="color:white;">
                                                    <td>
                                                        <ol>
                                                            <li>
                                                                <b>Original y fotocopia del certificado de bachillerato o preparatoria</b>. (a los alumnos <b>NO</b> egresados del CECYTEN, CETIS, CBTIS, CBTAS u otra institución pública federal, deberán traer legalizado su certificado. Esta legalización se realiza en la Dirección de Profesiones en la SEMSSICyT, solo para quienes estudiaron en el estado de Nayarit).
                                                                <ol type="a">
                                                                    <li>Si aún no tienes tu certificado, deberás entregar una constancia de terminación de estudios con materias, calificaciones y periodos cursados. Si tu certificado no tiene indicado los periodos que cursaste, es <b>OBLIGATORIO</b> esta constancia de estudios. </li>
                                                                </ol>
                                                            </li>
                                                            <li>Fotocopia legible del <b>Registro Único de Población (CURP)</b> - Actualizada. La puedes obtener en: <a style="color:white;text-decoration:underline white;" href="https://www.gob.mx/curp/" target="_blank">https://www.gob.mx/curp/</a></li>
                                                            <li><b>Original y fotocopia del acta de nacimiento</b> expedida máximo 2 años anteriores a la fecha de inscripción.</li>
                                                            <li>
                                                            <b>Resultados de análisis clínicos</b> (Biometría Hemática, Examen General de Orina, Coproparasitoscópico, Grupo y Tipo Sanguíneo). 
                                                            </li>
                                                            <li>
                                                            <b>Copia del comprobante de pago ante el banco, sellada por el departamento de Recursos Financieros </b>
                                                            </li>
                                                            <li><b>Solicitud de inscripción</b> debidamente llenada y firmada.</li>
                                                            <ol type="a">
                                                                <li>Descarga e imprime de <a style="color:white;text-decoration:underline white" href="http://www.tepic.tecnm.mx/doc/Solicitud_inscripcion_contrato.pdf" target="_blank">http://www.tepic.tecnm.mx/doc/Solicitud_inscripcion_contrato.pdf</a></li>
                                                                <li>Completa el formato de <b>Solicitud de Inscripción</b> con tu información</li>
                                                                <li>Verifica y firma el <b>Contrato con el Estudiante</b></li>
                                                            </ol>
                                                            <li><b>Original y copia del contrato firmado</b> por el alumno. Se descarga junto con la <b>solicitud de inscripción</b>, mostrada en punto anterior.</li>
                                                            <li><b>Tarjeta del número de seguridad social ante el IMSS.</b> Para generar la tarjeta del IMSS, puedes seguir los pasos que a continuación se muestran:</li>
                                                            <ol type="a">
                                                                <li>
                                                                    Ingresa a: <a style="color:white;text-decoration:underline white;" href="https://www.gob.mx/afiliatealimss" target="_blank">https://www.gob.mx/afiliatealimss</a>
                                                                </li>
                                                                <li>
                                                                    Completa el proceso <b>Paso 1:</b> Obtén o localiza tu número de seguridad social
                                                                </li>
                                                                <li>
                                                                    <b>Descarga e Imprime</b> la <b>Tarjeta de Número de Seguridad Social,</b> generada en el proceso anterior
                                                                </li>
                                                            </ol>
                                                        </ol>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <!-- Botón -->
                                                        <a href="https://docs.google.com/presentation/d/1h8NrhVNklysCgmBDyFWle9836xh7k-WIXE4K9qRI-GA/edit?usp=sharing"
                                                            style="box-sizing:border-box;border-color:#348eda;font-weight:bold;text-decoration:none;display:inline-block;margin:0;color:#ffffff;background-color:#025AA5;border:solid 1px #348eda;border-radius:2px;font-size:14px;padding:12px 60px;"
                                                            target="_blank" data-saferedirecturl="">Más información</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="m_-5819072269766076676footer" style="box-sizing:border-box;clear:both;width:100%">
                        <table style="box-sizing:border-box;width:100%;border-spacing:0;font-size:12px;border-collapse:separate!important" width="100%">
                            <tbody>
                                <tr style="font-size:12px">
                                    <td align="center" class="m_-5819072269766076676align-center" style="box-sizing:border-box;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;vertical-align:top;font-size:12px;text-align:center;padding:20px 0"
                                        valign="top">
                                        <span class="m_-5819072269766076676sg-image" style="float:none;display:block;text-align:center">
                                            <!-- imageBottom -->
                                            <a href="https://ittepic.edu.mx" style="box-sizing:border-box;color:#ffffff;font-weight:400;text-decoration:none;font-size:12px" target="_blank"><img alt="Instituto Tecnològico de Tepic" height="40" src="http://www.ittepic.edu.mx/images/escudo_itt_200x200.png" style="border-style:none;font-size:12px;height:40px" class="CToWUd"></a>
                                        </span>
                                        <!-- footter -->
                                        <p class="m_-5819072269766076676tagline" style="color:#000000;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;margin-bottom:5px;margin:10px 0 20px"><span class="il">Email enviado</span> automáticamente</p>
                                        <!-- copyright -->
                                        <p style="margin:0;color:#110f0f;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;font-size:12px;margin-bottom:5px">© <span class="il">ITT</span> Instituto Tecnológico de Tepic <br> Tepic, Nayarit, México</p>

                                        <p style="margin:0;color:#000000;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-weight:300;font-size:12px;margin-bottom:5px">Dudas o mayor información al teléfono (311) 211 9400 ext. 317, 430 y 307</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
            <td style="box-sizing:border-box;padding:0;font-family:'Open Sans','Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;font-size:16px;vertical-align:top"
                valign="top">&nbsp;</td>
        </tr>
    </tbody>
</table>